<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7Ez-Id_JBInOnYdbcfSdbXTB2dWDcTGU</string>
	<key>GCM_SENDER_ID</key>
	<string>603481811564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bell.mart.shop.app</string>
	<key>PROJECT_ID</key>
	<string>bellgemany</string>
	<key>STORAGE_BUCKET</key>
	<string>bellgemany.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603481811564:ios:db907acccd5b3e263cc649</string>
	<key>DATABASE_URL</key>
	<string>https://bellgemany-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>